.font-poppins {
	font-family: "Poppins", sans-serif;
}

.font-anton {
	font-family: "Anton", sans-serif;
}

.font-inter {
	font-family: "Inter", sans-serif;
}

body kbd {
	width: 55px;
	height: 52px;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	line-height: 52px;
	font-size: 21px;
}
